.login_signUp_form_wrapper {
    max-width: 380px;
    margin-inline: auto;
    width: 100%;
    text-align: center;
}

.login_signUp_form_wrapper>form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 24px;
}

.login_signUp_link {
    color: #707070;
    font-size: 14px;
    margin-top: 20px;
}

.login_signUp_link a {
    color: green;
    text-decoration: underline;
}